<nav class="nav">
  <a class="nav-link" href="<%= home_index_path %>">Home</a>
  <a class="nav-link" href="<%= organizers_path %>">Organizador</a>
  <a class="nav-link" href="<%= tasks_path %>">Tarefa</a>
  <a class="nav-link" href="<%= missions_path %>">Missao</a>
</nav>